faiss-cpu==1.13.2
fastapi==0.135.3
nltk==3.9.4
numpy==1.26.4
openai==2.31.0
pandas==3.0.2
pdfplumber==0.11.9
pydantic==2.12.5
python-dotenv==1.2.2
rank_bm25==0.2.2
requests
scipy==1.17.1
sentence-transformers==5.4.0
spacy==3.8.14
streamlit==1.56.0
torch==2.11.0
transformers==5.5.3
uvicorn==0.44.0

#fastapi==0.111.0
#uvicorn==0.30.0
#streamlit==1.35.0
#requests==2.32.0
#pydantic==2.7.0
#python-dotenv==1.0.1
#numpy==1.26.4
#pandas==2.2.2
#scipy==1.11.4
#faiss-cpu==1.7.4
#rank_bm25==0.2.2
#sentence-transformers==2.7.0
#transformers==4.41.2
#torch==2.3.1
#spacy==3.7.4
#nltk==3.8.1
#pdfplumber==0.11.0
#openai==1.30.1